/*

!.config/
.config/*
!.config/bspwm/
!.config/calcurse/
.config/calcurse/.calcurse.pid
.config/calcurse/apts
.config/calcurse/todo
!.config/dunst/
!.config/fontconfig/
!.config/gtk-2.0/
.config/gtk-2.0/gtkfilechooser.ini
!.config/gtk-3.0/
!.config/i3/
!.config/i3blocks/
!.config/lf/
!.config/mpd/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/error.log
!.config/mpv/
!.config/ncmpcpp/
.config/ncmpcpp/error.log
!.config/newsboat/
!.config/nvim/
!.config/polybar/
!.config/ranger/
!.config/sxhkd/
!.config/sxiv/
!.config/vifm/
!.config/wal/
!.config/wget/
!.config/zathura/
!.config/zsh/
.config/zsh/.zcompdump
!.config/aliasrc
!.config/directories
!.config/files
!.config/inputrc
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/wall.png

!.local/
.local/*
!.local/bin
!.local/share
.local/share/*
!.local/share/larbs
!.local/share/applications

!.asoundrc
!.gitignore
!.profile
!.tmux.conf
!.xinitrc
!.xprofile
!.zprofile
!LICENSE
!README.md
