[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Jealrock/vimrc.git
[submodule ".config/mpv/scripts/mpvSockets"]
	path = .config/mpv/scripts/mpvSockets
	url = https://github.com/wis/mpvSockets.git
